.header {
    background: linear-gradient(#24472b 1%
1%
, #24472bcc 90%, #86cf9400 100%);
    height: 200px;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10000000;
}

.containerInput {
  padding: 20px 0;
  display: flex;
}

.badge {
  background-color: white;
  display: flex;
  padding: 10px;
  border-radius: 40px;
  gap: 5px;
  align-items: center;
}

.welcome {
  color: white;
}

.iconStore {
  width: 100px !important;
  height: 160px !important;
}
.price {
  color: #24472b;
}

.circleMinusQuantity {
  background-color: #e3f3e6;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  font-size: 10px !important;
  padding: 5px;
}

.imgCar {
    object-fit: contain !important;
    width: 19% !important;
    height: 54px !important;
}

.imgList {
  height: 100px !important;
  width: 100% !important;
  object-fit: contain !important;
}

.circlePlusQuantity {
  background-color: #43b152;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  font-size: 10px !important;
  padding: 5px;
}
.paperSales {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
.priceCar,
.total {
  font-weight: 900;
}
.nameCar {
  font-weight: 600;
}
.total {
  padding: 10px 0;
}

.popoverContent {
      overflow-y: auto;
    z-index: 2147483647 !important;
    max-height: 700px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputNumber {
  margin: 30px 0;
}
.change {
  margin-top: 20px;
}
